In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
from sklearn.datasets import load_boston
dataset = load_boston()

In [3]:
dataset.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [4]:
vis_data = pd.read_csv("train.csv", encoding = 'ISO-8859-1', low_memory = False)

In [5]:
vis_data

,ticket_id,agency_name,inspector_name,violator_name,violation_street_number,violation_street_name,violation_zip_code,mailing_address_str_number,mailing_address_str_name,city,...,clean_up_cost,judgment_amount,payment_amount,balance_due,payment_date,payment_status,collection_status,grafitti_status,compliance_detail,compliance
0,22056,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","INVESTMENT INC., MIDWEST MORTGAGE",2900.0,TYLER,NaN,3.0,S. WICKER,CHICAGO,...,0.0,305.0,0.0,305.0,NaN,NO PAYMENT APPLIED,NaN,NaN,non-compliant by no payment,0.0
1,27586,"Buildings, Safety Engineering & Env Department","Williams, Darrin","Michigan, Covenant House",4311.0,CENTRAL,NaN,2959.0,Martin Luther King,Detroit,...,0.0,855.0,780.0,75.0,2005-06-02 00:00:00,PAID IN FULL,NaN,NaN,compliant by late payment within 1 month,1.0
2,22062,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","SANDERS, DERRON",1449.0,LONGFELLOW,NaN,23658.0,P.O. BOX,DETROIT,...,0.0,0.0,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN,not responsible by disposition,NaN
3,22084,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","MOROSI, MIKE",1441.0,LONGFELLOW,NaN,5.0,ST. CLAIR,DETROIT,...,0.0,0.0,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN,not responsible by disposition,NaN
4,22093,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","NATHANIEL, NEAL",2449.0,CHURCHILL,NaN,7449.0,CHURCHILL,DETROIT,...,0.0,0.0,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN,not responsible by disposition,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
250301,325555,"Buildings, Safety Engineering & Env Department","Bush, Wesley",WESTGATE TERRACE APARTMENTS LLC,10701.0,SANTA MARIA,NaN,1715.0,MEYERS,DETROIT,...,0.0,0.0,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN,not responsible by disposition,NaN
250302,325557,"Buildings, Safety Engineering & Env Department","Bush, Wesley",WESTGATE TERRACE APARTMENTS LLC,10701.0,MEYERS RD,NaN,1715.0,MEYERS,DETROIT,...,0.0,0.0,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN,not responsible by disposition,NaN
250303,325562,"Buildings, Safety Engineering & Env Department","Bush, Wesley",WESTGATE TERRACE APARTMENTS LLC,10701.0,MEYERS RD,NaN,1715.0,MEYERS,DETROIT,...,0.0,0.0,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN,not responsible by disposition,NaN
250304,325559,"Buildings, Safety Engineering & Env Department","Bush, Wesley",WESTGATE TERRACE APARTMENTS LLC,10701.0,MEYERS RD,NaN,1715.0,MEYERS,DETROIT,...,0.0,0.0,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN,not responsible by disposition,NaN
250305,325561,"Buildings, Safety Engineering & Env Department","Bush, Wesley",WESTGATE TERRACE APARTMENTS LLC,10701.0,MEYERS RD,NaN,1715.0,MEYERS,DETROIT,...,0.0,0.0,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN,not responsible by disposition,NaN

In [6]:
vis_data.keys()

Index(['ticket_id', 'agency_name', 'inspector_name', 'violator_name',
       'violation_street_number', 'violation_street_name',
       'violation_zip_code', 'mailing_address_str_number',
       'mailing_address_str_name', 'city', 'state', 'zip_code',
       'non_us_str_code', 'country', 'ticket_issued_date', 'hearing_date',
       'violation_code', 'violation_description', 'disposition', 'fine_amount',
       'admin_fee', 'state_fee', 'late_fee', 'discount_amount',
       'clean_up_cost', 'judgment_amount', 'payment_amount', 'balance_due',
       'payment_date', 'payment_status', 'collection_status',
       'grafitti_status', 'compliance_detail', 'compliance'],
      dtype='object')

In [7]:
from sklearn.preprocessing import PolynomialFeatures

pf = PolynomialFeatures(3)
poly_features = pf.fit_transform(vis_data[['balance_due', 'discount_amount']])
poly_features
poly_features.shape

(250306, 10)

In [8]:
poly_features

array([[  1., 305.,   0., ...,   0.,   0.,   0.],
       [  1.,  75.,   0., ...,   0.,   0.,   0.],
       [  1.,   0.,   0., ...,   0.,   0.,   0.],
       ...,
       [  1.,   0.,   0., ...,   0.,   0.,   0.],
       [  1.,   0.,   0., ...,   0.,   0.,   0.],
       [  1.,   0.,   0., ...,   0.,   0.,   0.]])

In [9]:
type(poly_features)

numpy.ndarray

In [10]:
for i in range(10):
    print (i, np.mean(poly_features[i]))

0 2846595.6
1 42757.6
2 0.1
3 0.1
4 0.1
5 2846595.6
6 62575825.6
7 276374.1
8 276374.1
9 62575825.6

In [11]:
datetime_vals = pd.to_datetime(vis_data.ticket_issued_date.dropna())

In [12]:
datetime_vals

0        2004-03-16 11:40:00
1        2004-04-23 12:30:00
2        2004-04-26 13:40:00
3        2004-04-26 13:30:00
4        2004-04-26 13:00:00
                 ...
250301   2010-12-02 11:00:00
250302   2010-12-02 11:00:00
250303   2010-12-02 11:00:00
250304   2010-12-02 11:00:00
250305   2010-12-02 11:00:00
Name: ticket_issued_date, Length: 250306, dtype: datetime64[ns]

In [13]:
vis_data['is_weekend'] = datetime_vals.dt.weekday > 4
vis_data['wd'] = datetime_vals.dt.weekday

In [14]:
vis_data['is_weekend']

0         False
1         False
2         False
3         False
4         False
          ...
250301    False
250302    False
250303    False
250304    False
250305    False
Name: is_weekend, Length: 250306, dtype: bool

In [15]:
vis_data['wd']

0         1
1         4
2         0
3         0
4         0
         ..
250301    3
250302    3
250303    3
250304    3
250305    3
Name: wd, Length: 250306, dtype: int64

In [16]:
vis_data['is_weekend'].value_counts()

False    248686
True       1620
Name: is_weekend, dtype: int64

In [17]:
vis_data = pd.read_csv("latlons.xls", encoding = 'ISO-8859-1', low_memory = False)

In [18]:
vis_data

                                       address        lat        lon
0       4300 rosa parks blvd, Detroit MI 48208  42.346169 -83.079962
1                     14512 sussex, Detroit MI  42.394657 -83.194265
2                     3456 garland, Detroit MI  42.373779 -82.986228
3                     5787 wayburn, Detroit MI  42.403342 -82.957805
4                   5766 haverhill, Detroit MI  42.407255 -82.946295
...                                        ...        ...        ...
121764              14267 sorrento, Detroit MI  42.392339 -83.172412
121765                9359 vaughan, Detroit MI  42.363781 -83.237494
121766              5911 courville, Detroit MI  42.409321 -82.943282
121767               14545 wyoming, Detroit MI  42.395836 -83.159670
121768             9269 grandville, Detroit MI  42.362833 -83.230175

[121769 rows x 3 columns]

In [19]:
vis_data = vis_data.dropna(['balance_due'])

TypeError: supplying multiple axes to axis is no longer supported.

In [23]:
data_flats=  pd.read_csv('data_flats.csv',sep=";")

In [24]:
data_flats

,id,full_sq,life_sq,floor,sub_area,preschool_quota,preschool_education_centers_raion,school_quota,school_education_centers_raion,school_education_centers_top_20_raion,...,shopping_centers_km,office_km,additional_education_km,preschool_km,big_church_km,church_synagogue_km,theater_km,museum_km,ecology,price_doc
0,1,43,27.0,4.0,Bibirevo,5001.0,5,11065.0,5,0,...,0.648488,0.637189,0.947962,0.177975,0.625783,0.628187,14.053047,7.389498,good,5850000
1,2,34,19.0,3.0,Nagatinskij Zaton,3119.0,5,6237.0,8,0,...,0.519311,0.688796,1.072315,0.273345,0.967821,0.471447,6.829889,0.709260,excellent,6000000
2,3,43,29.0,2.0,Tekstil'shhiki,1463.0,4,5580.0,7,0,...,1.486533,1.543049,0.391957,0.158072,3.178751,0.755946,4.273200,3.156423,poor,5700000
3,4,89,50.0,9.0,Mitino,6839.0,9,17063.0,10,0,...,0.599914,0.934273,0.892674,0.236455,1.031777,1.561505,16.990677,16.041521,good,13100000
4,5,77,77.0,4.0,Basmannoe,3240.0,7,7770.0,9,0,...,0.429052,0.077901,0.810801,0.376838,0.378756,0.121681,1.112486,1.800125,excellent,16331452
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30464,30469,44,27.0,7.0,Otradnoe,5088.0,4,12721.0,4,0,...,0.325885,1.103579,0.167718,0.349899,1.235066,0.612359,7.482165,4.836787,good,7400000
30465,30470,86,59.0,3.0,Tverskoe,1874.0,4,6772.0,4,1,...,0.540003,0.069986,0.086552,0.362681,0.850385,0.310021,0.778428,1.450108,poor,25000000
30466,30471,45,NaN,10.0,Poselenie Vnukovskoe,NaN,0,NaN,0,0,...,1.806570,4.338453,1.339078,1.234235,1.192543,1.186621,13.459593,9.890758,no data,6970959
30467,30472,64,32.0,5.0,Obruchevskoe,2372.0,6,6083.0,8,0,...,1.108672,1.204798,1.340017,0.130667,1.644053,0.476021,2.088193,4.119706,satisfactory,13500000
30468,30473,43,28.0,1.0,Novogireevo,2215.0,4,5824.0,4,0,...,0.224601,2.108265,0.825811,0.378950,0.480531,0.867332,0.688707,0.127867,poor,5600000

In [25]:
data_flats.head()

,id,full_sq,life_sq,floor,sub_area,preschool_quota,preschool_education_centers_raion,school_quota,school_education_centers_raion,school_education_centers_top_20_raion,...,shopping_centers_km,office_km,additional_education_km,preschool_km,big_church_km,church_synagogue_km,theater_km,museum_km,ecology,price_doc
0,1,43,27.0,4.0,Bibirevo,5001.0,5,11065.0,5,0,...,0.648488,0.637189,0.947962,0.177975,0.625783,0.628187,14.053047,7.389498,good,5850000
1,2,34,19.0,3.0,Nagatinskij Zaton,3119.0,5,6237.0,8,0,...,0.519311,0.688796,1.072315,0.273345,0.967821,0.471447,6.829889,0.709260,excellent,6000000
2,3,43,29.0,2.0,Tekstil'shhiki,1463.0,4,5580.0,7,0,...,1.486533,1.543049,0.391957,0.158072,3.178751,0.755946,4.273200,3.156423,poor,5700000
3,4,89,50.0,9.0,Mitino,6839.0,9,17063.0,10,0,...,0.599914,0.934273,0.892674,0.236455,1.031777,1.561505,16.990677,16.041521,good,13100000
4,5,77,77.0,4.0,Basmannoe,3240.0,7,7770.0,9,0,...,0.429052,0.077901,0.810801,0.376838,0.378756,0.121681,1.112486,1.800125,excellent,16331452

In [27]:
data_flats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30469 entries, 0 to 30468
Data columns (total 56 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   id                                     30469 non-null  int64
 1   full_sq                                30469 non-null  int64
 2   life_sq                                24086 non-null  float64
 3   floor                                  30302 non-null  float64
 4   sub_area                               30469 non-null  object
 5   preschool_quota                        23781 non-null  float64
 6   preschool_education_centers_raion      30469 non-null  int64
 7   school_quota                           23784 non-null  float64
 8   school_education_centers_raion         30469 non-null  int64
 9   school_education_centers_top_20_raion  30469 non-null  int64
 10  hospital_beds_raion                    16029 non-null  float64
 11  healthcare_centers_raion               30469 non-null  int64
 12  university_top_20_raion                30469 non-null  int64
 13  sport_objects_raion                    30469 non-null  int64
 14  additional_education_raion             30469 non-null  int64
 15  culture_objects_top_25_raion           30469 non-null  int64
 16  shopping_centers_raion                 30469 non-null  int64
 17  office_raion                           30469 non-null  int64
 18  metro_min_avto                         30469 non-null  float64
 19  metro_km_avto                          30469 non-null  float64
 20  metro_min_walk                         30444 non-null  float64
 21  metro_km_walk                          30444 non-null  float64
 22  kindergarten_km                        30469 non-null  float64
 23  school_km                              30469 non-null  float64
 24  park_km                                30469 non-null  float64
 25  green_zone_km                          30469 non-null  float64
 26  industrial_km                          30469 non-null  float64
 27  railroad_station_walk_km               30444 non-null  float64
 28  railroad_station_walk_min              30444 non-null  float64
 29  public_transport_station_km            30469 non-null  float64
 30  public_transport_station_min_walk      30469 non-null  float64
 31  mkad_km                                30469 non-null  float64
 32  ttk_km                                 30469 non-null  float64
 33  sadovoe_km                             30469 non-null  float64
 34  bulvar_ring_km                         30469 non-null  float64
 35  kremlin_km                             30469 non-null  float64
 36  big_market_km                          30469 non-null  float64
 37  market_shop_km                         30469 non-null  float64
 38  fitness_km                             30469 non-null  float64
 39  swim_pool_km                           30469 non-null  float64
 40  ice_rink_km                            30469 non-null  float64
 41  stadium_km                             30469 non-null  float64
 42  basketball_km                          30469 non-null  float64
 43  hospice_morgue_km                      30469 non-null  float64
 44  university_km                          30469 non-null  float64
 45  workplaces_km                          30469 non-null  float64
 46  shopping_centers_km                    30469 non-null  float64
 47  office_km                              30469 non-null  float64
 48  additional_education_km                30469 non-null  float64
 49  preschool_km                           30469 non-null  float64
 50  big_church_km                          30469 non-null  float64
 51  church_synagogue_km                    30469 non-null  float64
 52  theater_km                             30469 non-null  float64
 53  museum_km                              30469 non-null  float64
 54  ecology                                30469 non-null  object
 55  price_doc                              30469 non-null  int64
dtypes: float64(41), int64(13), object(2)
memory usage: 13.0+ MB

In [29]:
data_flats['ecology'].value_counts()

poor            8017
no data         7656
good            7173
excellent       3938
satisfactory    3685
Name: ecology, dtype: int64

In [31]:
ecology_dict={}

In [33]:
type(ecology_dict)

dict

In [ ]:
{'a': None, 'b': None}